header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: lightblue;
  color: white;
}

.header--title {
  padding: 10px 0;
  text-align: center;
}

.header--nav---btn {
  position: fixed;
  top: 12px;
  right: 10px;
  background-color: white;
}

.header--menu---list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 25%;
  right: 0;
  padding-left: 10px;
  background: lightblue;
  list-style: none;
}

.header--menu---list:before {
  /* Triangle */
  content: '';
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid lightblue;
  position: absolute;
  right: 5px;
  top: -14px;
}

.header--menu---item {
  padding: 10px;
}

@media(min-width: 768px) {
  header {
    position: unset;
    background-color: white;
    color: black;
  }

  .header--menu---list {
    position: unset;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: white;
  }

  .header--menu---list:before {
    display: none;
  }

  .header--menu---item {
    min-width: 100px;
  }

  .header--title {
    font-size: 24px;
  }
}