/* .position-fixed {
  position: fixed;
} */

/* --------------------------------- common css --------------------------------- */

ul {
  list-style: none;
}

/* --------------------------------- css about flex --------------------------------- */
.display-flex {
  display: flex;
}

/* 超出换行 */
.flex-wrap {
  flex-wrap: wrap;
}

/* --------------------------------- css about text --------------------------------- */
.text-center {
  text-align: center;
}

/* --------------------------------- css about color --------------------------------- */
.text-white {
  color: white;
}

.background-white {
  background-color: white;
}

.background-lightblue {
  background: lightblue;
}